<div class="card" style="width: 18rem;">
    <img class="card-img-top card--img" [src]="_item.image ? _item.image : imagen_default"
        alt="Card image cap">
    <div class="card-body">
        <h3 class="card-title">{{_item.name | titlecase}}</h3>
        <p class="card-text card-description">{{_item.description}}</p>

        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
                    <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}">
                        <i class="fa fa-star"></i>
                    </li>
                </ul>
            </div>
        </div>



        <div class="row">
            <div class="col-4 pd-0">
                <button type="button" name="" id="" class="btn btn-primary" (click)="gotoEditOrView()">
                    <i class="fa fa-eye"></i>
                </button>
            </div>
            <div class="col-4">
                <button type="button" name="" id="" class="btn btn-primary" (click)="gotoEditOrView('edit')">
                    <i class="fa fa-pencil"></i>
                </button>

            </div>
            <div class="col-4">
                <button type="button" name="" id="" class="btn btn-primary" (click)="deleteItem()" >
                    <i class="fa fa-trash"></i>
                </button>
            </div>


        </div>


    </div>
</div>



  
